* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.node binary

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
